<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name = "procesalince.Properties.Settings.linceConnectionString"
    connectionString = "Dsn=LinceSQLServer;uid=linceweb;pwd=linceweblcsa"
    providerName = "System.Data.Odbc" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>